@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>

    <a class="nav-link text-dark" asp-page="/ListAll">Lista alla böcker</a>
    <a class="nav-link text-dark" asp-route-userId="1" asp-page="/ListUsersLoans">Användarens lån</a>

    <form method="post">
        <p>
            Sök bok: <input type="text" asp-for="SearchString" name="SearchString" />
            <input type="submit" value="Sök"/>
        </p>
    </form>

</div>
