@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>

    <a class="nav-link text-dark" asp-area="" asp-page="/ListAll">Lista alla böcker</a>

    <form method="post">
        <p>
            Sök bok: <input type="text" asp-for="SearchString" name="SearchString" />
            <input type="submit" value="Sök"/>
        </p>
    </form>

</div>
@await Component.InvokeAsync("ShowNumber")
 @* Invoke(run) the view component with a parameter *@
@*@await Component.InvokeAsync("ShowNumber", 2) *@
@await Component.InvokeAsync("ShowLoanLink")
