@page
@using MyLibrary.GUI.Pages
@model ListAllModel
@{
    ViewData["Title"] = "ListAll";

}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* <table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model.bookList)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Author)
            </td>
        </tr>
        };
    </tbody>
</table> *@