@page
@using MyLibrary.GUI.Pages
@model PrivacyModel2
@{
    ViewData["Title"] = "All books";
}
<h1>@ViewData["Title"]</h1>

<h3>@ViewData["mess"]</h3>


<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Name)
        </td>
        }


@*         @foreach (var item in ViewData["bookList"])
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                    <td style="border: 1px solid black; padding: 20px;">Cell 1</td>

            </tr>
        }; *@
    </tbody>
</table> 