@page
@using MyLibrary.GUI.Pages
@model PrivacyModel2
@{
    ViewData["Title"] = "All books";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Name)
        </td>
        }
    </tbody>
</table> 